.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  cursor: pointer;
}

#ring {
  position: absolute;
  width: 40px;
  height: auto;
  top: 30%;
  right: 50%;
  z-index: 5;
}

#bracelet {
  position: absolute;
  width: 130px;
  height: auto;
  bottom: 15%;
  right: 30%;
}


.webcamCapture {
  position: relative;
  width: 100%;
  object-fit: cover;
}

@media only screen and (max-device-width : 640px) {
  .webcamCapture {
    position: fixed;
    height: 100%;
    width: 100%;
  }
}

@media only screen and (max-device-width: 768px) {
  .webcamCapture {
    position: fixed;
    height: 100%;
    width: 100%;
  }
}

.basic:before {
  content: '';
  display: block;
  height: 50px;
  width: 50px;
  -webkit-animation: spin .5s infinite linear;
  animation: spin .5s infinite linear;
  border: 6px #fff solid;
  border-left-color: #000;
  border-radius: 100%;
}

@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}