body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.webCam {
  width: 860px !important;
}

.canvas-width {
  width: 860px !important;
}

@media only screen and (max-width: 600px) {
  .webCam {
    width: 340px !important;
  }

  .canvas-width {
    width: 340px !important;
  }
}